<!doctype html>
<html class="no-js">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>南邮运动会</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" href="css/amazeui.min.css">
    <link rel="stylesheet" href="css/app.css">
</head>

<body>
<div class="am-g">
    <!-- 头部 -->
    <header data-am-widget="header" class="myAppHead am-header am-header-default">
        <div class="am-header-left am-header-nav">
            <!-- <a data-am-offcanvas="{target: '#doc-oc-demo2', effect: 'push'}">

              <i class="am-header-icon am-icon-bars"></i>
            </a> -->
        </div>

        <h1 class="am-header-title">
            <a href="#title-link" class="">
                南邮运动会
            </a>
        </h1>
    </header>
    <!-- 栏目切换 -->
    <div data-am-widget="tabs" class="myAppTab am-tabs am-tabs-d2">
        <ul class="am-tabs-nav am-cf">
            <li class="am-active"><a href="[data-tab-panel-0]">排行榜</a></li>
            <li class=""><a href="[data-tab-panel-1]">留言框</a></li>
            <li class=""><a href="[data-tab-panel-2]">比赛日程</a></li>
            <li class=""><a href="[data-tab-panel-3]">比赛结果</a></li>
        </ul>
        <div class="am-tabs-bd">
            <div data-tab-panel-0 class="myAppTabPanel am-tab-panel am-active martop">
                <!-- 排行榜 -->
                <div class="am-container">
                    <ul class="am-list am-list-static am-list-border" id="academy">
                        <li>
                            <span class="am-badge">99</span>
                            <span class="rank">1</span>
                            计算机学院、软件学院、网络空间安全学院
                        </li>
                    </ul>
                </div>
            </div>
            <div data-tab-panel-1 class="myAppTabPanel am-tab-panel martop">
                <div class="comments center">
                    <form action="">
                        <div class="am-g">
                            <div class="am-u-sm-8">
                                <div class="am-g mar10">
                                    <div class="am-u-sm-3">
                                        <label>评论</label>
                                    </div>
                                    <div class="am-u-sm-9">
                                        <textarea class="" rows="3" for="doc-ta-8" style="width: 100%;" id="submitText"></textarea>
                                    </div>
                                </div>
                                <div class="am-g mar10">
                                    <div class="am-u-sm-3">
                                        <label>身份</label>
                                    </div>
                                    <div class="am-u-sm-9">
                                        <p>
                                            <input type="text" class="am-form-field am-radius" id="submitId" placeholder="学号+姓名" />
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="am-u-sm-4">
                                <button type="button" id="submit" class="am-btn am-btn-primary mar10 js-modal-open" style="line-height: 9rem;">提交</button>
                            </div>
                        </div>
                    </form>

                </div>
                <hr>
                <ul>
                    <li>
                        <article class="am-comment">
                            <a href="#link-to-user-home">
                                <img src="img/a1.jpg" alt="" class="am-comment-avatar" width="48" height="48" />
                            </a>
                            <div class="am-comment-main">
                                <header class="am-comment-hd">
                                    <!--<h3 class="am-comment-title">评论标题</h3>-->
                                    <div class="am-comment-meta">
                                        <a href="#link-to-user" class="am-comment-author">某人</a>
                                        评论于
                                        <time datetime="2018-10-16T04:54:29-07:00" title="2018年10月16日 下午7:54 格林尼治标准时间+0800">2018-10-16 15:30</time>
                                    </div>
                                </header>

                                <div class="am-comment-bd">
                                    ...
                                </div>
                            </div>
                        </article>
                    </li>
                    <li>
                        <article class="am-comment">
                            <a href="#link-to-user-home">
                                <img src="img/a1.jpg" alt="" class="am-comment-avatar" width="48" height="48" />
                            </a>
                            <div class="am-comment-main">
                                <header class="am-comment-hd">
                                    <!--<h3 class="am-comment-title">评论标题</h3>-->
                                    <div class="am-comment-meta">
                                        <a href="#link-to-user" class="am-comment-author">某人</a>
                                        评论于
                                        <time datetime="2018-10-16T04:54:29-07:00" title="2018年10月16日 下午7:54 格林尼治标准时间+0800">2018-10-16 15:30</time>
                                    </div>
                                </header>

                                <div class="am-comment-bd">
                                    ...
                                </div>
                            </div>
                        </article>
                    </li>
                    <li>
                        <article class="am-comment">
                            <a href="#link-to-user-home">
                                <img src="img/a1.jpg" alt="" class="am-comment-avatar" width="48" height="48" />
                            </a>
                            <div class="am-comment-main">
                                <header class="am-comment-hd">
                                    <!--<h3 class="am-comment-title">评论标题</h3>-->
                                    <div class="am-comment-meta">
                                        <a href="#link-to-user" class="am-comment-author">某人</a>
                                        评论于
                                        <time datetime="2018-10-16T04:54:29-07:00" title="2018年10月16日 下午7:54 格林尼治标准时间+0800">2018-10-16 15:30</time>
                                    </div>
                                </header>

                                <div class="am-comment-bd">
                                    ...
                                </div>
                            </div>
                        </article>
                    </li>
                    <li>
                        <article class="am-comment">
                            <a href="#link-to-user-home">
                                <img src="img/a1.jpg" alt="" class="am-comment-avatar" width="48" height="48" />
                            </a>
                            <div class="am-comment-main">
                                <header class="am-comment-hd">
                                    <!--<h3 class="am-comment-title">评论标题</h3>-->
                                    <div class="am-comment-meta">
                                        <a href="#link-to-user" class="am-comment-author">某人</a>
                                        评论于
                                        <time datetime="2018-10-16T04:54:29-07:00" title="2018年10月16日 下午7:54 格林尼治标准时间+0800">2018-10-16 15:30</time>
                                    </div>
                                </header>

                                <div class="am-comment-bd">
                                    ...
                                </div>
                            </div>
                        </article>
                    </li>
                    <li>
                        <article class="am-comment">
                            <a href="#link-to-user-home">
                                <img src="img/a1.jpg" alt="" class="am-comment-avatar" width="48" height="48" />
                            </a>
                            <div class="am-comment-main">
                                <header class="am-comment-hd">
                                    <!--<h3 class="am-comment-title">评论标题</h3>-->
                                    <div class="am-comment-meta">
                                        <a href="#link-to-user" class="am-comment-author">某人</a>
                                        评论于
                                        <time datetime="2018-10-16T04:54:29-07:00" title="2018年10月16日 下午7:54 格林尼治标准时间+0800">2018-10-16 15:30</time>
                                    </div>
                                </header>

                                <div class="am-comment-bd">
                                    ...
                                </div>
                            </div>
                        </article>
                    </li>
                    <li>
                        <article class="am-comment">
                            <a href="#link-to-user-home">
                                <img src="img/a1.jpg" alt="" class="am-comment-avatar" width="48" height="48" />
                            </a>
                            <div class="am-comment-main">
                                <header class="am-comment-hd">
                                    <!--<h3 class="am-comment-title">评论标题</h3>-->
                                    <div class="am-comment-meta">
                                        <a href="#link-to-user" class="am-comment-author">某人</a>
                                        评论于
                                        <time datetime="2018-10-16T04:54:29-07:00" title="2018年10月16日 下午7:54 格林尼治标准时间+0800">2018-10-16 15:30</time>
                                    </div>
                                </header>

                                <div class="am-comment-bd">
                                    ...
                                </div>
                            </div>
                        </article>
                    </li>
                    <li>
                        <article class="am-comment">
                            <a href="#link-to-user-home">
                                <img src="img/a1.jpg" alt="" class="am-comment-avatar" width="48" height="48" />
                            </a>
                            <div class="am-comment-main">
                                <header class="am-comment-hd">
                                    <!--<h3 class="am-comment-title">评论标题</h3>-->
                                    <div class="am-comment-meta">
                                        <a href="#link-to-user" class="am-comment-author">某人</a>
                                        评论于
                                        <time datetime="2018-10-16T04:54:29-07:00" title="2018年10月16日 下午7:54 格林尼治标准时间+0800">2018-10-16 15:30</time>
                                    </div>
                                </header>

                                <div class="am-comment-bd">
                                    ...
                                </div>
                            </div>
                        </article>
                    </li>
                    <li>
                        <article class="am-comment">
                            <a href="#link-to-user-home">
                                <img src="img/a1.jpg" alt="" class="am-comment-avatar" width="48" height="48" />
                            </a>
                            <div class="am-comment-main">
                                <header class="am-comment-hd">
                                    <!--<h3 class="am-comment-title">评论标题</h3>-->
                                    <div class="am-comment-meta">
                                        <a href="#link-to-user" class="am-comment-author">某人</a>
                                        评论于
                                        <time datetime="2018-10-16T04:54:29-07:00" title="2018年10月16日 下午7:54 格林尼治标准时间+0800">2018-10-16 15:30</time>
                                    </div>
                                </header>

                                <div class="am-comment-bd">
                                    ...
                                </div>
                            </div>
                        </article>
                    </li>
                </ul>
            </div>
            <div data-tab-panel-2 class="myAppTabPanel am-tab-panel martop">
                <div class=".am-panel-group">
                    <div class="am-panel am-panel-default">
                        <div class="am-panel-hd">
                            <h3 class="am-panel-title">5月19日（星期五）</h3>
                        </div>
                        <table class="am-table am-table-bordered am-table-striped am-table-compact">
                            <thead>
                            <tr>
                                <th>比赛项目</th>
                                <th>地点</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>男子400米接力 （13：10）</td>
                                <td>北操场</td>
                            </tr>
                            <tr>
                                <td>男子400米接力 （13：10）</td>
                                <td>北操场</td>
                            </tr>
                            <tr>
                                <td>男子400米接力 （13：10）</td>
                                <td>北操场</td>
                            </tr>
                            <tr>
                                <td>男子400米接力 （13：10）</td>
                                <td>北操场</td>
                            </tr>
                            <tr>
                                <td>男子400米接力 （13：10）</td>
                                <td>北操场</td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="am-panel-footer">备注</div>
                    </div>
                    <div class="am-panel am-panel-default">
                        <div class="am-panel-hd">
                            <h3 class="am-panel-title">5月20日（星期六）</h3>
                        </div>
                        <table class="am-table am-table-bordered am-table-striped am-table-compact">
                            <thead>
                            <tr>
                                <th>比赛项目</th>
                                <th>地点</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>男子400米接力（13：10）</td>
                                <td>北操场</td>
                            </tr>
                            <tr>
                                <td>男子400米接力（13：10）</td>
                                <td>北操场</td>
                            </tr>
                            <tr>
                                <td>男子400米接力（13：10）</td>
                                <td>北操场</td>
                            </tr>
                            <tr>
                                <td>男子400米接力（13：10）</td>
                                <td>北操场</td>
                            </tr>
                            <tr>
                                <td>男子400米接力（13：10）</td>
                                <td>北操场</td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="am-panel-footer">备注</div>
                    </div>
                    <div class="am-panel am-panel-default">
                        <div class="am-panel-hd">
                            <h3 class="am-panel-title">5月21日（星期日）</h3>
                        </div>
                        <table class="am-table am-table-bordered am-table-striped am-table-compact">
                            <thead>
                            <tr>
                                <th>比赛项目</th>
                                <th>地点</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>男子400米接力（13：10）</td>
                                <td>北操场</td>
                            </tr>
                            <tr>
                                <td>男子400米接力（13：10）</td>
                                <td>北操场</td>
                            </tr>
                            <tr>
                                <td>男子400米接力（13：10）</td>
                                <td>北操场</td>
                            </tr>
                            <tr>
                                <td>男子400米接力（13：10）</td>
                                <td>北操场</td>
                            </tr>
                            <tr>
                                <td>男子400米接力（13：10）</td>
                                <td>北操场</td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="am-panel-footer">备注</div>
                    </div>
                </div>
            </div>
            <div data-tab-panel-3 class="myAppTabPanel am-tab-panel ">
                <div data-am-widget="titlebar" class="am-titlebar am-titlebar-default">
                    <h2 class="am-titlebar-title ">
                        男子400米接力
                    </h2>
                </div>
                <table class="am-table am-table-bordered am-table-radius am-table-striped">
                    <thead>
                    <tr>
                        <th>名次</th>
                        <th>姓名</th>
                        <th>学院</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>张三</td>
                        <td>自动化学院</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>李四</td>
                        <td>计算机学院、软件学院、网络空间安全学院</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>王二麻</td>
                        <td>计算机学院、软件学院、网络空间安全学院</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>




</div>

<!-- 侧边栏内容 -->
<!-- <div id="doc-oc-demo2" class="myAppOffcanvas am-offcanvas">
  <div class="am-offcanvas-bar">
    <div class="am-offcanvas-content">
      <div class="myAppOffcanvasUserIco">
        <img src="img/userico.jpg" alt="">
      </div>
      <div class="myAppOffcanvasUserName">Amaze UI</div>
      <div class="myAppOffcanvasInfo">New Documentary Showcases the Laborious History of Graphic Design</div>
      <div class="am-container">
        <div class="am-g">
          <div class="am-u-sm-6"><button type="button" class="myAppBtn am-btn am-btn-default am-round am-btn-danger">E-mail</button></div>
          <div class="am-u-sm-6"><button type="button" class="myAppBtn am-btn am-btn-default am-round am-btn-primary">Password</button></div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!--[if (gte IE 9)|!(IE)]><!-->
<script src="js/jquery.min.js"></script>

<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script src="js/amazeui.min.js"></script>

<script src="js/app.js"></script>

</body>

</html>